[2019-11-26 10:26] tiiiecherle opened #1 "archlinux AUR package and more detailed install instructions"
Hey,

first of all thanks a lot for this project and all the work that is put into it. Very much appreciated. I followed the restructuring at Baikal and it led me here ;)

I would really like to try this out. I´m a fan of automating installations and configurations. Unfortunately my knowledge here is limited and I need a few more details on this before I can start trying ;)

Is it possible to subm

[2019-11-26 13:24] tchapi commented on #1
Hello

Thanks for your feedback.

Unfortunately I will not do that — because I don't have the time / resource to maintain packages first, and also because this web app is not linked / dependent on any architecture or linux distro. It's just plain PHP.

1. You mean the whole project ? It's a Symfony app, so just grab the source code (download a release, untar it) and do `composer install` to fetch

[2019-11-26 15:17] tiiiecherle commented on #1
Hey,

thanks for the fast answer. I`m not familiar with symfony or composer.

1. So I first instll composer and symfony-cli apps from the repos?
The root of the webserver is in `/usr/share/webapps`. So I check out the source to `/usr/share/webapps/davis`?
Then I `cd /usr/share/webapps/davis` an run `composer install`?
2. O.k., I`ll try that.
3. I think I probably need one and will play with the se

[2019-11-26 16:01] tchapi commented on #1
1 -> You just need composer, nothing else. You can install in `/usr/share/webapps/davis` if you wish, just change the root of your webserver accordingly.
4 -> Well you need to change the values according to your environment : where is your database, the no-reply email, the auth method, etc ... A valid secret is just a string that you, and only you, know.

I would recommend that you make yourself f

[2019-11-27 13:44] tiiiecherle commented on #1
Thanks for the next round of input. I dived into it yesterday and achieved first results. I will get back with them and perhaps with a few more questions in the next days.

[2019-12-01 15:56] tiiiecherle commented on #1
Hey,

I really got everything setup and installed after quite some learning, trial and error ;)

When I'm done I will hand over the install script, the php and the nginx config. I think this will help a lot if other (not so experienced) users would like to try/use this.

I installed to a subdirectory `/usr/share/webapps/davis` where the root of the web server is `/usr/share/webapps/`.

Unfortunate

[2019-12-01 19:29] tiiiecherle commented on #1
In addition to number 6 there is one more reason to separate calendar, notes and reminders functionality (even if it is not the cause of the issue that it is currently not working with iOS). Currently if you add a calendar to a user and enable the option for reminder list "todo" then (if you enable calendar and reminders for this caldav account) the same entry also appears as a calendar and a remi

[2019-12-02 08:57] tchapi commented on #1
Hello !

1 - I don't know your webserver and how you handle permissions so I can't really tell. Your webserver needs to be able to read the files of the application, and write logs in `var/log` and cache in `var/cache`, that's it. See https://symfony.com/doc/current/setup/file_permissions.html

2 - You shouldn't do this, this is a recipe for disaster (and plain wrong). Adapt your nginx config to p

[2019-12-02 09:11] tchapi commented on #1
PS for point 6, after enabling TODOs on the calendar, it works for me on macOS (I can't test on iOS though).

[2019-12-02 09:28] tiiiecherle commented on #1
Hey, thanks for the answers.

1 - ok, I double checked and it seems alright.

2 - What would be the correct way of handling the href and src when using in a subdirectory?

What is the reason to use a new root server location? We use other services, e.g. nextcloud in a subdirectory, too. And it is a supported type of installation.

Otherwise we would need a new subdomain, new certificates, ...

3 -

[2019-12-02 09:31] tiiiecherle commented on #1
Do you mean in the davis interface? I did that and it leads to these results:

macOS (default apple onboard tools)
Calendar - working
Contacts - working (only with the default address book of the user)
Reminders - working (when reminders list is added in davis, adding new reminder lists from macOS does not work)

iOS latest version (default apple onboard tools)
Calendar - working
Contacts - workin

[2019-12-02 09:32] tiiiecherle commented on #1
Thanks for all your help. Again learning a lot and I hope the iOS error can be fixed and I can edge out the last few installation issues to get this into production use. Would be really nice ;)

[2019-12-02 09:53] tchapi commented on #1
2 - What would be the correct way of handling the href and src when using in a subdirectory?

A subdomain and a certificate are commodities nowadays (and free), you should use it. If you don't want, well, you need to change your nginx configuration, but not touch the application files.

3 - Wouldn't that mean adding a plain text mysql database password to the nginx server config?

Exactly. Either

[2019-12-02 11:28] tiiiecherle commented on #1
2 - ok, thanks, I will work on that.

3 - ok, I will have a look at both solutions.

5 - ok, I will work on the fail2ban rule

6 - Thanks for the latest update. On macOS I now actually can add new reminder lists and they appear in davis.
Unfortunately the iOS issue still persists. We tried on two different phones with the latest iOS 13.2.3. Still no reminder lists in the reminders app.
We also tri

[2019-12-02 11:53] tchapi commented on #1
"Starting with iOS 13 and macOS Catalina, the new Reminders app no longer supports CalDAV."

_in_ https://support.busymac.com/blog/112990

[2019-12-02 11:53] tchapi commented on #1
So you're out of luck

[2019-12-02 12:26] tiiiecherle commented on #1
Hey, thanks for the feedback. We did a little digging in the meantime, too.

We tried the caldav reminder setup from nextcloud with the same result. When that happened I searched for the issue in nextcloud context and stumbled upon the same link that you posted. But the content is not true. It was an early iOS13 beta restriction/issue.

Reading through the nextcloud issues brought me on the right

[2019-12-02 12:32] tiiiecherle commented on #1
As an addition I don't know if the functionality for local network ssl connections for reminders can be restored from saber/dav or only from apple.

[2019-12-03 21:32] tiiiecherle commented on #1
Today I restructured my nginx installation and php-fpm pools to install davis to a separate server with separate root and certificate (as you suggested).

When trying to install the latest version I got the following error:
[code]

As I understand correctly the needed packages are no longer compatible with php 7.3.

Will you specify different dependency lists for the different php versions or do I

[2019-12-03 23:17] tiiiecherle commented on #1
When configuring nginx I stumbled across a configuration problem with the Content-Security-Policy.

I had to loosen it in regards to script-src and set it to

`script-src 'self' https://code.jquery.com/ 'unsafe-inline'`

all in all the most restricted I got davis to work with is this config:

`add_header Content-Security-Policy "default-src 'none'; script-src 'self' https://code.jquery.com/ 'unsaf

[2019-12-04 10:56] tchapi commented on #1
Hello,

There is no difference between 1.4.3 and latest regarding the dependencies (the composer.json file is exactly identical) so both should break, in fact. This is due to the latest release in `ocramius/proxy-manager` and the fact that the lock file was created in PHP 7.4.

I've set the platform to PHP 7.3.12 for now in my latest commit (`master`), can you test that ?

Yes, exactly. It won't b

[2019-12-04 13:12] tiiiecherle commented on #1
Hey,

thanks, the current git master installs again with php 7.3.

Also thanks for the feedback regarding the updates and the Content-Security-Policy. I will implement both in the installation/update.

[2019-12-04 15:52] tiiiecherle commented on #1
I just tested the latest git version a bit. Thanks for implementing the separation of calendar / reminders / notes. When only reminders (todos) is selected, the entry does no longer appear in the calendars in macOS any more. Nice ;) Thanks, great work ;)

After finishing nginx and php-fpm yesterday I will hopefully figure the rest of the installation (dotenv and fail2ban) out soon and we will do m

[2019-12-04 15:55] tchapi commented on #1
- I'm not sure about email, but I guess it's in the Caldav spec. If you find some place where it says that it's not compulsory, I'd be happy to change it
 - For the secret : https://stackoverflow.com/a/34887007/1741150

[2019-12-05 07:11] tiiiecherle commented on #1
Sorry, I don't know about the Caldav specs regarding email.

Thanks for the link explaining the secret.

[2019-12-05 19:26] tiiiecherle commented on #1
Today I took some time for the rest of the installation.

I managed to get fail2ban working for the website admin interface and for calder/carddav connections.

Regarding the `.env.local` file I have to more questions:

**1   MAILER_URL**

Do I understand correctly that the MAILER_URL is used for sending invitations from the calendars? Or is it used for anything else?

I tested my MAILER_URL confi

[2019-12-05 21:27] tchapi commented on #1
1. The MAILER_URL purpose is specifically and only to send invitations. You are right (as is the documentation) for the encoding. But I have nothing to implement, just urlencode your password before writing it in the `.env` file. Ex : if your password is `p@ssword`, just put `p%40ssword` in the file (You can use https://www.urlencoder.org/ for instance, to do it quickly)

2. The paths can be relat

[2019-12-06 07:00] tiiiecherle commented on #1
1. Thanks, I got it to working converting the password with
`php -r "echo urlencode('$SMTP_EMAIL_PASSWORD');"`

The test email and the invitations work. How do I change the language and the content of the invitation template?

2. I would like to try the webdav feature at least. So do I understand correctly that if the root of the davis webserver is `/path/to/davis/public`, I would have to add
[cod

[2019-12-06 09:06] tchapi commented on #1
1. Create a new translation, see https://symfony.com/doc/current/translation.html
2. You can specify the path you want, as long as they are absolute, you're quite safe
3. Use your client to set this preference. I think it's automatically saved in sabre/dav (depending on the client I guess)

[2019-12-06 10:16] tiiiecherle commented on #1
Thanks

1.  In which local file of the installation can content of the invitation email be changed?

[2019-12-06 10:41] tchapi commented on #1
If you mean to change the content, and not only texts, you can fork this repository and change the email template in `templates/mails`

[2019-12-07 09:31] tiiiecherle commented on #1
ok, thanks.

When testing I saw that the email address configured in `URL_MAILER` in the dotev file was used in the `from` field for the invitation email.

I don't know how this would be for you or other users that have multiple users and calendars defined. I think that would confuse the recipient of the invitation.

When testing sending emails by using `bin/console swiftmailer:email:send` the `fr

[2019-12-07 16:44] tchapi commented on #1
If you look closely in `DavisIMipPlugin.php`, the `From` field is the `INVITE_FROM_ADDRESS` (generally, a no-reply address), and the `Reply-to` is the actual name and email address of the originator of the mail (that is, the organizer).

This is expected and reasonable for me, and clearly not confusing for the user (_invitations are not **sent** by a user, but by an automated process, hence the "n

[2019-12-08 12:59] tiiiecherle commented on #1
ok, I get how this is supposed to work.

As in our workgroup we are a few people that all have read/write access to all calendars. I wanted to add all calendars to one user and specify a reply address per calendar. I do not have the programming skills to add that feature and want to stick to the original development.

If this is not working every user needs his own account (and therefore its own r

[2019-12-09 15:43] tchapi commented on #1
Well, indeed every user needs its own account, this is how the protocol is designed. In your case, it's just _your client_ that displays it in a way you don't like, unfortunately. Hence I won't implement any specifics deviating from the standard — you might want to check other clients (like Busycal for instance) that might display delegation the way you think it should be.

a. Yes. Delegation is a

[2019-12-13 13:08] tiiiecherle commented on #1
Hey,

thanks again for all your help, we managed to structure, install and configure macOS and iOS clients successfully and all (short) tests with only two persons went well.

As promised I sent you an email with the install script for davis and fail2ban, the nginx configuration, the php configuration and the documentation.

It would be nice if you could have a look at it and see if you find anyth

[2019-12-26 21:33] n1trux opened #2 "Automated Docker Hub build fails because file can't be copied"
See the [build.log](https://github.com/tchapi/davis/files/4003487/build.log) for an automated build of 'master:/docker' (cb00eaa9) on Docker Hub.

Source is configured as master, Build context is `/docker`.

Relevant error:

[code]

Relevant lines in Dockerfile:

[code]

I guess it's because `${version}` can't be resolved when you're trying to build master; it should be `https://github.com/tchapi/

[2020-01-02 08:11] tchapi commented on #2
You don't want to build `master`, you want to build a specific release, hence the `version` argument that you must set..

[2020-01-02 08:11] #2 closed

[2020-01-02 08:26] n1trux commented on #2
I know, but there's a `v` in front of the version. So when you set the version to `master` it doesn't work.

Ideally you would want to build both `master` and the corresponding versions with the same Dockerfile (or version your master with the next version).

This worked:

[code]

I'll create a PR.

[2020-01-02 10:05] tchapi commented on #2
What I'm saying is you _should not_ build `master`, since it's not guaranteed to be stable. The Dockerfile is here if you want to deploy a stable version of **Davis**. Your fix helps in case you want to develop and test in Docker, but then you'd rather share your actual folder in a volume than create an image.

[2020-01-20 21:45] tiiiecherle commented on #1
Hey,

our tests are going on for more than two weeks now and everything seems to work fine with iOS and macOS clients using calendar, contacts and reminders.

I've seen that [sabre/dav](https://github.com/sabre-io/dav/commits/master) merged your pull requests and released version 4.0.3.

After nextcloud 18 was released we also moved our complete php installation to version 7.4.

Would be nice to s

[2020-01-20 21:50] tiiiecherle commented on #1
And I sent you version 3 of the install script via email. Please delete all old versions and only keep this version. All other files from the first bunch of files I sent you are still up-to-date ;)

[2020-01-24 10:24] tchapi commented on #1
Glad it works fine !
v1.4.6 is available now, see https://github.com/tchapi/davis/releases/tag/v1.4.6

I'll close this issue for now :)

[2020-01-24 10:24] #1 closed

[2020-01-24 17:03] tiiiecherle commented on #1
Thanks.

I ran my script to update and it worked perfectly ;)

It seems there are two changes necessary to the `symfony.lock`.

During `composer install` there is the following output:

`Package zendframework/zend-eventmanager is abandoned, you should avoid using it. Use laminas/laminas-eventmanager instead.`
`Package zendframework/zend-code is abandoned, you should avoid using it. Use laminas/lam

[2020-03-24 09:05] tiiiecherle opened #3 "Composer hints, dav update and openssl issue"
Hey,

there are three things I'd like to mention:

1. During composer install there is the following output:
[code]

2. Dav was updated to version 4.1.0. Would be nice to see this integrated.

3. After updating to openssl 1.1.1.e [this issue](https://github.com/openssl/openssl/issues/11381) came up. I don't know if there is anything there can be done about it in davis/dav to make both peers always

[2020-03-24 10:57] tchapi commented on #3
Hi

1. This is a sub-dependency, nothing to worry about, you can ignore the warning.
2. I'll look into this yes
3. Doing something in davis to fix this problem, if possible (I don't think so) would be counterproductive anyway. It should be done on the client side.

BR

[2020-03-24 11:04] tchapi commented on #3
https://github.com/tchapi/davis/releases/tag/v1.4.7

[2020-03-24 11:04] #3 closed

[2020-03-24 18:33] tiiiecherle commented on #3
@tchapi
Thanks, the update worked smoothly with my script.

Another issue occurred when testing notes functionality. I added a calendar (with notes functionality to a user) but neither the macOS nore the iOS client can see the notes. I can only activate calendars or reminders in both of them. Shall we continue here or shall I open another issue?

Thanks for the help in advance

Kind regards

[2020-03-26 07:31] tiiiecherle opened #4 "Notes not working"
Hey,

we would like to use the notes feature. I added a calendar (with only notes instance functionality to a new user) but when adding the account to iOS or macOS the connection to the server and the account works, but it only presents calendar and contacts as options, not notes. Is there anything that has to be activated or changed to use this?

Perhaps it does not have to be added as a calendar

[2020-03-26 08:13] tchapi commented on #4
Hello @tiiiecherle

I guess you should rather open a ticket on sabre/dav side because **davis** only provides a convenient wrapper and administration panel so I think if there's a problem on that side, it must be related to the underlying implementation of notes.

Or, maybe for some clients to work, you have to enable calendar and contacts too for notes to work ? On macOS at least, I know the clie

[2020-03-26 11:05] tiiiecherle commented on #4
Thanks, done and referenced ;)

[2020-04-09 21:32] rflrkn opened #7 "/dashboard not found"
I just tried installing davis onto my server (just like described in the readme.md), but when trying to access the admin interface I'm getting an 404 error. What am I doing wrong here?

[2020-04-10 10:58] tchapi commented on #7
Hi,
If the error comes from your webserver, it may be a configuration issue on your side. If it's from Symfony, can you tell me what the debug bar / logs give you ?

[2020-04-12 22:28] #7 closed

[2020-05-19 17:23] das-bub opened #8 "DAVx5: Received non-XML 207 Multi-Status"
Hi,

I'm getting the error above when trying to use davis with DAVx5.
The content-type returned is text/html and DAVx5 only accepts xml.
Is there a way to fix or force the content-type returned?
I'm using nginx 1.16 with php-fpm 7.3.

Other clients, like iOS and the Thunderbird Lightning extension work fine as is btw.

Thanks.

Debug log: [davx5-info.txt](https://github.com/tchapi/davis/files/4652

[2020-05-19 18:21] tchapi commented on #8
Hi @das-bub

Davis does not modify the actual response from sabre.io/dav in this case, so I guess the actual issue, if there is one, is more on their side (see https://github.com/sabre-io/dav/issues/).

It could also be a difference of implementation in DAVx5 regarding your specific use case.

What is the url / parameters that trigger this error exactly ?

[2020-05-19 18:46] das-bub commented on #8
Thanks for the quick response.

Right, I wasn't really sure where to file it, so I did it here first.

Based on [this](https://www.davx5.com/tested-with/baikal) I used this URL:
https://example.org/dav/

I also tried the following:
https://example.org
https://example.org/dav/principals/test
https://example.org/dav/calendars/test/default
https://example.org/dav/addressbooks/test/default

They all s

[2020-05-20 09:46] das-bub commented on #8
@tchapi please take a look at the response I got on the upstream issue.

[2020-05-20 16:20] tchapi commented on #8
Can you craft a cURL with the full request, including headers, data, etc so I can reproduce your issue ?

[2020-05-20 17:52] das-bub commented on #8
I had to put it into a txt file, cause github truncates the command for some reason, but is this what you are looking for?

[curl.txt](https://github.com/tchapi/davis/files/4658508/curl.txt)

It's the request DAVx5 sends, taken from the davx5-info.txt above.

The response I get has content-type: text/html; charset=UTF-8.

[2020-05-21 10:20] tchapi commented on #8
Thanks a lot. Let me have a look.

[2020-05-21 13:07] tchapi commented on #8
Hello @das-bub

I think https://github.com/tchapi/davis/releases/tag/v1.4.8 will fix this issue. Can you confirm ?

[2020-05-21 14:21] das-bub commented on #8
Yes, v.1.4.8 fixed the issue for me, DAVx5 works fine now.

Thank you very much.

[2020-05-21 14:21] #8 closed

[2020-05-21 15:43] tchapi commented on #8
You're welcome !

[2020-06-11 22:37] King3R opened #9 "SQLite"
Hey,

is it also possible to use sqlite?

regards ...

[2020-06-12 10:56] tchapi commented on #9
It should be quite straightforward, even though I have never tested it myself.
Look there: https://symfony.com/doc/current/doctrine.html#configuring-the-database

[2020-06-12 10:56] #9 closed

[2020-06-12 20:37] King3R commented on #9
Thanks a lot, i take a look.

[2020-09-03 12:24] tchapi commented on #4
I'm closing this following the answer of @evert on the related issue.

[2020-09-03 12:24] #4 closed

[2020-09-05 13:28] tiiiecherle opened #11 "doctrine:migrations:migrate error using version 1.4.9"
Hey,

thanks for the update. When updating to version 1.4.9 `doctrine:migrations:migrate` outputs on a first run:
`[ERROR] The version "latest" couldn't be reached, there are no registered migrations.
`

On a second run the output is
`The metadata storage is not up to date, please run the sync-metadata-storage command to fix this issue.
`

After some research adding `?serverVersion=mariadb-10.5.5`

[2020-09-08 13:06] tchapi commented on #11
Hi
There are no migrations, so you shouldn't try to run it in the first place. The error message is not perfectly clear though, I guess they changed it with the version (see https://github.com/doctrine/migrations).

[2020-09-08 13:06] #11 closed

[2020-09-08 19:07] tiiiecherle commented on #11
Hey,

thanks for the feedback.

1    When shall `doctrine:migrations:migrate` be run?

2    Does `doctrine:migrations:migrate` have to be run on the first time the database is created? If yes, the same error described above occurs on a newly created database if I follow the readme.

3   Is it the new standard or a bug that `?serverVersion=mariadb-10.5.5` has to be added to the database url?

Thank

[2020-09-11 07:19] tchapi commented on #11
Hi

1. Never - it has changed in the new version of doctrine, I've just amended the README file to reflect this (I was using the migration cli but it was really just creating the schema), thanks for the heads up. So far, davis did not need migrations. Maybe in the future, and I'll add the relevant documentation if needed.
2. ↑
3. It's not compulsory since it's already indicated in the config. But

[2020-09-11 12:24] tiiiecherle commented on #11
Hey,

thanks for the feedback.

1.   o.k., I will change my install/update script accordingly to skip this step. Thanks for updating the readme.

1.a    Is this the correct order of commands to create a new database?

- create user and new database with mysql commands, grant privileges

- customize .env file

- run `bin/console doctrine:schema:create`

1.b     Does `bin/console doctrine:schema:cre

[2020-09-11 16:26] tchapi commented on #11
Re,

1a — yes
1b — no, the name of the database is written in your `.env` file
1c — no (well, yes, but you will have an error saying that it can't find the database)
3 — I'll leave you to the doctrine documentation for that: https://symfony.com/doc/current/reference/configuration/doctrine.html I haven't delved too much into it
4 — Your database has not been modified, it's fine, don't worry.

[2020-09-11 19:53] tiiiecherle commented on #11
Thanks ;)

[2020-10-16 06:14] dominiquefournier opened #12 "IMAP authentication"
Hi !
Could you think to add more authentication scheme ? I am interested with IMAP auth, like describe in https://github.com/sabre-io/Baikal/pull/966

Thanks a lot !

[2020-10-16 12:54] tchapi commented on #12
Hi @dominiquefournier

Let me have a look at it. I don't have much time now, though, so if you could prime it with a PR, I'd be much obliged.

Thanks and best regards

[2020-10-16 13:39] tchapi commented on #12
Ok, if I believe the PR you commented on, it's an easy endeavor;  Could you test the `feature/imap_auth` branch and tell me if everything is fine ?

See https://github.com/tchapi/davis/tree/feature/imap_auth

[2020-10-20 06:10] dominiquefournier commented on #12
Yes ! Well done ! It works well ! Thank you so much !

[2020-10-20 06:10] #12 closed

[2020-10-20 14:01] tchapi commented on #12
I'll merge this into the main branch, and make a specific release then

[2020-10-20 14:37] tchapi commented on #12
See https://github.com/tchapi/davis/releases/tag/v1.5.0

[2020-10-20 14:39] dominiquefournier commented on #12
Thanks a lot !

[2020-11-02 15:14] tiiiecherle opened #14 "No longer working after update to 1.5.0"
Hey,

thanks for the next update. Unfortunately after updating to 1.5.0 neither the webinterface nor the client sync works.

I did not change anything on the nginx side or in the .env file.

I get this in the browser trying to open the webinterface:

_Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this err

[2020-11-02 15:24] tchapi commented on #14
What do you have in the log ?

[2020-11-02 16:23] tiiiecherle commented on #14
The content of ...davis/var/log/ is

[code]

It seems like adding `'IMAP_AUTH_URL' => ''` to the .env file solves the issue.

For anyone upgrading I think the readme should be updated or the app should not fail if IMAP_AUTH_URL is missing in the env file if it is not used. I use
[code]

Unfortunately we have an internet connection issue tonight and I will get back to this tomorrow and let you know

[2020-11-02 16:40] tchapi commented on #14
Yes that was the culprit.

If your filename is `.env`, yes, you must declare the `IMAP_AUTH_URL` value else it will fail (because it won't find it). But you should rather use a `.env.local` file that overrides just the values you need instead, as stated in the README.

[2020-11-02 16:40] #14 closed

[2020-11-02 18:38] tiiiecherle commented on #14
Thanks.

Yes, I'm using an `.env.local.php` file and everything seems to work again.

[2020-12-06 15:17] de-es opened #15 "FR: Calendar sharing"
Really nice work so far. Much appreciated.

It would be nice to also have the calendar sharing feature available in the UI.

[2020-12-07 11:16] tchapi commented on #15
Hi @de-es, could you elaborate a bit on that ? Delegation is already possible via the UI

[2020-12-07 17:18] de-es commented on #15
Sure. Only entire accounts can be delegated, so delegates see all calendars of a user. Sometimes you just want to share a single calendar. See https://sabre.io/dav/caldav-proxy/ and https://sabre.io/dav/caldav-sharing/.

SabreDAV already has UI support for calendar sharing when you call e.g. http://<davisurl>/dav/calendars/<user>/default/ under Actions -> Share this resource, but it would be nice

[2020-12-07 17:24] de-es opened #16 "Can't delete read-only delegate"
Steps to reproduce:
1. Add a delegate (don't check "Give write access?")
2. Delegate is added correctly.
3. Click Remove button
4. Confirm with "Yes" button
5. Nothing happens, delegate is still listed

When giving write access while adding, I can remove the delegate as expected.

[2020-12-14 10:52] tchapi commented on #15
Ok, understood. I'm running a bit short of time these days but I will have a look and keep you posted

[2020-12-14 12:29] de-es commented on #15
No worries and thank you for taking a look.

[2020-12-14 21:36] tchapi commented on #16
Hi @de-es

This is indeed a bug and I have identified the cause. I am working on a fix right now

Thanks !

[2020-12-14 21:45] #16 closed

[2020-12-14 21:45] tchapi commented on #16
If you have a moment to test it (on `master`), that'd be welcomed !

[2020-12-14 22:03] tchapi commented on #15
Quick question @de-es.

Suppose `userA` gives RW access to its `blue` calendar to `userB` (via the SabreDAV UI).
Is this `blue` calendar not supposed to show in http://____/dav/calendars/userB/ ? I'm not seeing anything while testing rapidly now.

[2020-12-14 22:20] de-es commented on #16
Works like a charm. Thank you!

[2020-12-14 22:34] de-es commented on #15
It should be available e.g. under http://____/dav/calendars/userB/xxxxxxxx-xxxx-xxxxxxxxx-xxxxxxxxxxxx (x= hexadecimal values) and you should find a new entry in the `calendarinstances` table. The `access` column has 2 for readonly and 3 for R/W.

[2020-12-14 22:43] tchapi commented on #15
Ok, got it. There are some subtleties I need to work out then.

[2020-12-17 14:19] tchapi commented on #15
Hi again @de-es

Would you mind testing https://github.com/tchapi/davis/pull/17 to see if it works well from your point of view ?

The user delegation feature was misplaced — at the calendar level, so I refactored that and added individual calendar sharing, which should be what you were looking for.

Thanks a lot

[2020-12-17 15:59] de-es commented on #15
Awesome work, everything works as expected afaics.

[2020-12-18 13:02] #15 closed

[2021-02-01 10:38] tiiiecherle opened #18 "php8 compatibility"
Hey,

archlinux just switched to php8 on stable.

Is davis already php8 compatible? If not it would be nice to see it in the changelog of the future compatible release.

Thanks

Kind regards

[2021-02-01 11:14] tchapi commented on #18
Hi @tiiiecherle

I haven't had the time to look at it yet, but I will soon !

[2021-02-01 11:26] tiiiecherle commented on #18
o.k., thanks.

[2021-02-01 11:34] tchapi commented on #18
v1.6.1 should work in PHP 8 without problems. Open an issue if you find anything that doesn't work

[2021-02-01 11:34] #18 closed

[2021-02-03 11:50] tiiiecherle commented on #18
Thanks for the update. After first tests it seems to work well.

[2021-02-19 19:27] MACscr opened #19 "Feature Request: z-push?"
Have you considered z-push integration at all so that users can use activesync instead of having to mess with caldav/carddav clients?

[2021-02-20 19:32] tchapi commented on #19
Hi @MACscr
I'm not familiar with z-push _at all_ but if you want to give it a go, I could have a look at a PR

[2021-03-02 19:31] djanpy opened #20 "ACL Privileges for read-only user"
Hi, how to can assign read-only permission in one user to consult default with uri adressbook other user?

Regards

[2021-03-03 09:14] tchapi commented on #20
Hi
I'm not sure that this is possible in sabre/dav at the moment, but if you have any info that it is, please share so I can have a look

[2021-03-04 16:39] svdm-artix opened #21 "Calendar URL"
Hi! What is the URL of the calendars and addressbooks? Thanks!

[2021-03-05 16:59] djanpy commented on #20
Hi @tchapi,

Let me explain what I want to do:

I currently have a CardDav server that I have implemented based on your Davis project, I have created an admin user with d:all permissions (isAdmin), now I would need to create another read-only user (d:read) to use the admin user's address book or a new one, but read-only.

Currently, accessing with the user (not admin and not adressbook owner) I ge

[2021-03-08 08:50] tchapi commented on #20
I understand what you want to do, but the underlying sabre/dav library does not support it (yet?). There are some issues about it (like https://github.com/sabre-io/dav/issues/1052) on their repo.

I'm not sure that it's easy to implement, but if you want to give it a try ...

[2021-03-25 10:01] hwittenborn opened #22 "[Request] Could an official Docker image be published?"
I'm wanting to run this through Docker, but I'd really like to avoid running third-party images if at all possible.
If you don't have the time that's fine, I'm just curious if it could be done since the needed stuff is already there.

[2021-04-16 08:33] tchapi commented on #22
Hi @hwittenborn and sorry for the delay

Yes, it should be possible, but I'm running a bit short on time at the moment. I'll leave this open and try to work on it when I have some spare hours

[2021-04-26 17:27] zemsten opened #23 "Composer version not specified, causing docker build failure"
The Dockerfile doesn't specify a version in the command to grab and install composer. The newest versions are the 2.x branch, and that doesn't appear to be supported with your current plugins.

A quick fix is to change the Dockerfile compose install to be:
`RUN curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer --version=1.10.21` to grab the lastes

[2021-04-26 19:23] tchapi commented on #23
Hi @zemsten and thanks for your issue

You are right, I should be more specific on the Composer version. I'll have a look at that soon.
I'll revamp the way the Docker image is built too, it needs some refreshment I guess

Thanks

[2021-04-26 20:39] tchapi commented on #23
Hi @zemsten

Would you mind having a look at #24 and see if it fits your needs and seems sensible ?
I migrated to Composer 2 (long overdue!) and changed the way the Dockerfile is building the app.

I will probably coin v2.0.0 because this is a breaking change

Thanks !

[2021-04-28 21:26] zemsten commented on #23
Certainly! I don't have any real experience with composer, but I'll take a dive into it. The docker side is pretty simple, so I doubt you need any review there. But I'll tinker and get back to you. I generally don't have too much time except weekends. My initial pull and build though doesn't error out, so that's a good sign! Thanks for working on it!

[2021-04-29 16:22] zemsten commented on #23
Definitely going to have to brush up on my PHP...

Everything builds, but unfortunately I'm getting a 500 after authenticating on the dashboard page. Haven't had the time to look into that yet, but I imagine it's a reverse proxy issue with NGINX talking to the davis app. I don't see any changes in that config, so I imagine it's somewhere in composer.

When you ran it did you get full functionality

[2021-04-30 07:52] tchapi commented on #23
👋 ☕
Yes, you're right for the named volume. The docker-compose is really just an example though, for other developers to build upon, but I'll gladly accept a PR for that ;)

[2021-05-04 16:41] zemsten commented on #23
Well I've had some time to tinker. Everything looks great, and so far the only change I made is to add a named volume for the SQL container.

On  my last run though, I did just notice that I can't get the sharing menu to pop up for any calendar in the webUI. Several browsers and the same thing.

[2021-05-05 15:10] tchapi commented on #23
You mean by clicking on the button here ?

![Screenshot 2021-05-05 at 17 09 43](https://user-images.githubusercontent.com/1944007/117164251-bbbf3e00-adc4-11eb-8b5f-cb658e3b7b8a.png)

Would you share any error that displays in the console of your browser ?

[2021-05-11 11:49] #23 closed

[2021-05-11 11:50] tchapi commented on #23
This issue is closed by the related PR, but if you have another issue with the sharing menu, do not hesitate to create a new issue @zemsten

[2021-05-11 12:32] tchapi commented on #22
An official image is now available on the Github Container Registry: https://github.com/users/tchapi/packages/container/package/davis

It will automatically create a new image, tagged with the version, on each release

[2021-05-30 22:45] tandy-1000 opened #29 "Feature: Set custom base URL"
It would be nice to be able to set a base path, so that Davis can be accessed from a subdomain like so: `http://localhost/davis/`

[2021-05-30 23:19] tandy-1000 opened #30 "Bug: cannot delete address books"
I can't seem to delete a user's address books, this is not the case for calendars.

Let me know if you need any information.

[2021-05-31 08:58] tchapi commented on #29
Hi @tandy-1000

This seems like something that your reverse-proxy should be able to do — Davis is a Symfony app, so something like that: https://www.digitalocean.com/community/questions/make-symfony-works-in-a-subfolder-with-nginx would be of interest for instance, if you use Nginx (this should be straightforward with Apache too)

[2021-05-31 08:58] #29 closed

[2021-06-24 19:07] tchapi commented on #30
Sorry for the late answer !

It is now fixed on `master` — I will make a new release soon

[2021-06-24 19:10] #30 closed

[2021-07-30 12:00] trashcoder opened #31 "Using CalDav with iOS"
i tried to use DAVis with iOS and can't connect to the server:

In Thunderbird with Lightning everything works fine, but with iOS i got these error messages:

[30/Jul/2021:10:43:02 +0000] "PROPFIND /dav/principals/dennis/ HTTP/1.1" 401 3552 "-" "iOS/14.7.1 (18G82) accountsd/1.0"
[30/Jul/2021:10:43:03 +0000] "PROPFIND /dav/principals/dennis/ HTTP/1.1" 207 3676 "-" "iOS/14.7.1 (18G82) accountsd/1.0"

[2021-07-30 12:37] tchapi commented on #31
Hi @trashcoder

I'm personnally using davis (and the underlying sabre/dav implementation) on an iPhone and it works well.

Those logs are just the access logs but do not tell much. Are you sure that you credentials are good ? It's well known that the iOS DAV implementation is more picky than any third party app implementation, so you might want to investigate on this side.

BR

[2021-07-30 14:00] trashcoder commented on #31
Well, i'm a bit lost now. Where can i find out, what's wrong with my configuration?
In my other container i got Baikal work with my iphone after i made the .well-known configuration in my .htaccess.

in davis i i made the configuration described in the README.md except the SetEnv Parameter in the Apache File. I entered the parameter in .env.
Do you run davis with apache or nginx? perhaps nginx is

[2021-07-30 15:43] tchapi commented on #31
I run it with Traefik through docker containers. You can find my setup (roughly) here if that helps: https://github.com/tchapi/own-private-cloud/blob/master/docker-compose.yaml#L174-L223

[2021-07-30 15:44] tchapi commented on #31
And a very standard nginx configuration to reverse-proxy PHP-FPM: https://github.com/tchapi/own-private-cloud/blob/master/configurations/davis/nginx.conf

[2021-08-18 08:27] trashcoder commented on #31
thank you.

[2021-08-18 08:27] #31 closed

[2021-09-10 17:41] holow29 opened #33 "Better password management/hashing?"
It seems to me that this project uses the same password management (Digest/md5) as Baikal. Do you think it should be changed, based on the following:

https://github.com/sabre-io/Baikal/issues/514
https://github.com/sabre-io/Baikal/pull/868

[2021-09-10 17:43] holow29 commented on #33
Someone made a good point about a newer algorithm which might be better than bcrypt as well: https://github.com/sabre-io/Baikal/pull/868#issuecomment-707073967

[2021-09-13 13:58] tchapi commented on #33
Hi @holow29

Yes it does use a md5 hash, and this is because Baikal and Davis still support the "legacy" Digest auth (see https://github.com/sabre-io/Baikal/issues/514#issuecomment-200452931).

I am in favor of ditching Digest altogether, but I have to take a deeper look at the consequences of that.

I will try to work on that soon.

[2021-09-20 09:09] #33 closed

[2021-09-28 11:49] JodliDev opened #35 "Field 'calendarorder' doesn't have a default value"
I am not exactly sure if this is a bug in davis, or the web calendar I am using. Maybe you have more knowledge on what exactly is going on:
Since 1.8.0, creating a new calendar fails with the error message:

For now, I fixed it by adding the default value '0' to the 'calendarorder' column in the table 'calendarinstances'. But could this cause other problems?

I am using MariaDB 10.3.31on Ubuntu

T

[2021-09-28 13:40] tchapi commented on #35
Hi,

It doesn't seem linked to 1.8.0 as far as I can tell, but to a discrepancy between the migrations and a legacy Baikal installation (_that already has a default value for this column_).

I've added a migration on `master`, it should be enough.

Thanks a lot !

[2021-09-28 13:41] tchapi commented on #35
See https://github.com/tchapi/davis/commit/4f6fc9ed01feb39c1e2e89a01e857b0d3fe3fb0f

[2021-09-28 13:41] #35 closed

[2021-11-03 19:41] mbsouth opened #36 "Features Request: sending mail over SMTP"
Great Project, many thx!
It seems, this project can become a replacement for Baikal (for my part).
Unfortunately there is an issue: sending e-mails with php mail() function.

A framework like phpmailer or swiftmailer to sending e-mails over an SMTP server/account would be great.

[2021-11-03 19:49] tchapi commented on #36
Hi @mbsouth

Check the `MAILER_URL` environment variable. **Swiftmailer** is already included so you just have to configure it with your preferred SMTP server and account :)

[2021-11-03 19:49] #36 closed

[2021-11-03 19:59] mbsouth commented on #36
@tchapi
Thank you very much.

[2021-12-19 13:53] tchapi opened #40 "Add tests for correct installation in Github CI"
Add tests:
  - composer install with lowest / highest dependencies
  - php-cs-fixer

[2021-12-19 13:54] tchapi opened #41 "Upgrade to latest Bootstrap 4 (4.6)"

[2021-12-22 18:21] #40 closed

[2021-12-22 18:53] tchapi opened #43 "Testing"
Create tests:

  - unit tests for specific methods / classes that would benefit from it
  - functional tests for the dashboard

[2021-12-22 18:55] tchapi opened #44 "Add an example Caddyfile in README"

[2021-12-23 08:27] tchapi commented on #41
Fixed in https://github.com/tchapi/davis/commit/9a9b6c8c5828eabf7e6b9727c01463ced200fdca

[2021-12-23 08:27] #41 closed

[2021-12-23 09:08] tchapi commented on #44
Closed in https://github.com/tchapi/davis/commit/47ce525946fc3bdce8bec16e1d2e789190637660

[2021-12-23 09:08] #44 closed

[2021-12-24 13:06] tchapi opened #45 "Provide a Dark mode"
Two options:
  - based on the user preference provided by the browser
  - based on a toggle accessible in the admin

[2021-12-29 18:08] verahawk commented on #36
@tchapi I might be completely wrong, but shouldn't it be `MAILER_DSN`?

https://github.com/tchapi/davis/blob/47ce525946fc3bdce8bec16e1d2e789190637660/config/packages/mailer.yaml#L3

I can't find `MAILER_URL` anywhere in the code.

[2022-01-01 12:58] tchapi commented on #36
Hi @verahawk

It is now `MAILER_DSN` on `master` since **SwiftMailer** was replaced with **symfony/mailer** but so far, no new release has been created with this change.

So if you're using `master` (not recommended), it's `MAILER_DSN` yes. Otherwise it's still `MAILER_URL` until i create the new release (which will probably be 1.9.0)

Hope that makes sense
Best regards !

[2022-01-01 18:03] verahawk commented on #36
Thanks for the clarification. So, I presume that this line needs to be updated on `master`:

https://github.com/tchapi/davis/blob/47ce525946fc3bdce8bec16e1d2e789190637660/docker/docker-compose.yml#L39

[2022-01-03 08:21] tchapi commented on #36
You are **perfectly** right, I'm on it !

[2022-01-03 08:22] tchapi commented on #36
Fixed in https://github.com/tchapi/davis/commit/ebdfe9fcd572e5182b43960900177fcb9ef6a8af

[2022-01-12 19:22] JoshuaCrewe commented on #7
UPDATE:

`composer require symfony/apache-pack` => This solved it for me as per https://symfony.com/doc/current/setup/web_server_configuration.html#adding-rewrite-rules

I am leaving the rambling below so my path to a solution can be seen.

---

I think I am being a little bit slow here but I can't see how routing is supposed to be working in this app. I followed the instructions in the Readme to

[2022-01-12 19:43] JoshuaCrewe commented on #21
I came here looking for the answer. I found success with the following structure :

https://domain.tld/dav/calendars/user/calendar-name

This is primarily to help future me. In Baikal the connection information was available on the calendar. This might be a nice addition (no expectation for anyone else to do this).

[2022-01-13 08:40] tchapi commented on #7
Hi @JoshuaCrewe

You shouldn't need to install a supplementary package. Can you provide your apache vhost config so I can have a look ? The routing is handled by Symfony itself.

[2022-01-13 08:41] tchapi commented on #21
Hi @JoshuaCrewe

What exactly do you mean by "In Baikal the connection information was available on the calendar" ? I can add information in the README if that helps but I'm not sure of what exactly

thanks !

[2022-01-13 10:18] JoshuaCrewe commented on #7
@tchapi I haven't done much digging around as when I got it working I proceeded to assess the functionality of the app. (It looks great by the way!)

I can try and get the vhost from the hosting provider. It is a managed system so it isn't something I have set up. I will do it locally and see if I get the same issue, I did set that one up!

[2022-01-13 10:20] tchapi commented on #7
No problem, don't worry. If it's a shared hosting, I think I understand why it doesn't work right out of the box.

I will add a pragraph in the readme for the package you installed, it looks like it is a good solution in this case

Thanks !

[2022-01-13 10:21] tchapi opened #46 "Add info on `symfony/apache-pack` when using shared hosting"

[2022-01-13 10:21] tchapi commented on #7
(https://github.com/tchapi/davis/issues/46)

[2022-01-13 10:24] JoshuaCrewe commented on #21
![2022-01-13_10-21](https://user-images.githubusercontent.com/12238901/149312020-ece54500-f1ce-4436-8569-3126ede50e92.png)

When looking at a calendar in the UI you can click the `i` to get a modal that shows information about how to add that calendar to an app. This is what I was thinking of with that comment.

I am very new to caldav and am investigating on behalf of someone else. When I am addi

[2022-01-13 10:26] JoshuaCrewe commented on #7
Groovy. I am happy to go spelunking for any information that might be useful / interesting to you. I suppose that technically it is a shared hosting platform. It is a management UI on top of digital ocean.

[2022-01-13 13:25] tchapi commented on #21
Oh. that is neat indeed.

I should definitely add it somewhere, like Baikal does. I'll open up a new issue for that

[2022-01-13 13:26] tchapi opened #47 "Add the calendar url on the calendar page / list"
It would ease the setup of the calendar in third-party tooling.

[2022-01-13 13:26] tchapi commented on #21
https://github.com/tchapi/davis/issues/47

[2022-01-13 16:17] JoshuaCrewe commented on #7
Absolutely I can test. I need to finish testing the functionality with a team member and then I can do a git pull and see how it handles it :)

[2022-01-13 16:49] JoshuaCrewe commented on #7
Pulled down the lastest git and looks like it is working fine. What I will do is set up on a new space to check the out of the box experience.

I did add the symphony package for using sendgrid to manage email SMTP and obviously added the apache-pack as well.

@tchapi did I read somewhere that you use Apple products with this thing ?

[2022-01-13 17:06] tchapi commented on #7
Yes, I do use Apple products (Mail, contacts, on iOS and macOS) and it's working perfectly fine. To be honest, it's `sabre/dav` that does the main work behind the scenes for the Caldav and Carddav protocol.

[2022-01-13 17:13] JoshuaCrewe commented on #7
Good to know. I am getting my head around organisation and the different clients (I am Linux, everyone else is mac) and it is all working. The only thing I can't figure out is accepting invitations. I can accept them and people outside the organisation can accept them. This is not reflected in Apple Calendar though. It is a head scratcher but that might be cause it is 5pm here!

[2022-01-13 17:34] tchapi commented on #7
Yes, there is an outstanding issue with attendance, but it's complex and to date, I haven't found a workaround. See this discussion for more details: https://github.com/sabre-io/vobject/issues/453 (in fact, most of us are clueless)

I haven't had much time to dig into it too, and much time to fully understand the spec to be honest (_the spec is rather blurry in this regard, in my opinion_)

Any in

[2022-01-13 21:16] tiiiecherle opened #48 "Typo in .env"
Hey,

thanks for developing and improving the project. Very much appreciated.

I think there is a typo in [https://github.com/tchapi/davis/blob/master/.env#L32](https://github.com/tchapi/davis/blob/master/.env#L32) and it should be MAILER_DNS instead of MAILER_DSN.

Thanks for correcting in advance.

[2022-01-14 09:10] tiiiecherle opened #49 "Update to 1.9.0 breaks installation"
Hey,

after updating to 1.9.0 the complete server does not work and returns the following server error. I attached a screenshot.
![Bildschirmfoto 2022-01-14 um 09 35 46](https://user-images.githubusercontent.com/7059936/149489416-f3bb5883-1f22-43fe-bca2-0eef862be2ee.jpg)

I did not change anything and downgrading to 1.8.0 solves the problem.

Thanks for looking into it in advance.

[2022-01-14 09:14] tiiiecherle commented on #49
Additional info: I still use an installation without docker.

[2022-01-14 11:04] JoshuaCrewe commented on #7
@tchapi thanks for the link. I will check that out. I was sat there scratching me head thinking "I don't understand how any of this works." or not work as the case may be! Not to worry, for us it isn't a deal breaker. It is not like it worked properly when using Apples own caldav implementation either.

[2022-01-14 12:14] tchapi commented on #49
Hi @tiiiecherle

Could you provide me with the PHP logs / the Symfony logs ? I will have a look

PS: did you update the `.env` file correctly with `MAILER_DSN` ?

[2022-01-14 12:16] tchapi commented on #48
It's `DSN` : Data Source Name

[2022-01-14 12:16] #48 closed

[2022-01-14 14:16] tiiiecherle commented on #49
Hey,

sorry for the issue, after getting confused with [this](https://github.com/tchapi/davis/issues/48) I changed it to DNS instead of DSN. Now everything seems to work with version 1.9.0.

Thanks a lot

[2022-01-14 14:16] #49 closed

[2022-01-20 12:19] tfendler opened #50 "v.1.9.0 Docker image does not work: after spinnup only "file not found""
Hi,
I am just trying to setup the server with the current docker image you published.
Unfortunately, there seems to be something wrong with the permissions inside the container.
When you start the container and try to access it, you only get a "file not found". I tried to correct the permission inside the container, but unfortunately I failed. After some corrections I now get a 500-Error.
EDIT: I

[2022-01-20 12:59] tchapi commented on #50
Hi Thorsten

Thanks for the report. Would you be kind enough to test with the latest `1.8.*` container ?

[2022-01-20 17:16] tfendler commented on #50
Hi tchapi,
i get the same results with the 1.8.0 container.... I am running docker-compose 2.2.2 do you think, this might be a problem.
Do you know, what release was the last "known" running version with the full-stack docker-compose? Maybe I try that, just to make sure, its no misconfiguration on my end?
Cheers.

[2022-01-20 18:32] #50 closed

[2022-01-20 19:10] tchapi commented on #50
Hi @tfendler,

Thanks for your research.

The `var` folder references the `/var/www/davis/var` folder that is used by Symfony to write some cache and logs, so you should keep this `RUN chown -R www-data:www-data var` line anyway (even if you want to add the one you mention).

I think there is a configuration problem somewhere and you're right that the user rights may be the culprit. However I run

[2022-01-21 11:48] tchapi commented on #21
Hi @JoshuaCrewe

Would that be sufficient ? The username is already in the page, and the password is hidden anyway, so I guess the uri is the only important information to show, here, no ?

<img width="546" alt="Screenshot 2022-01-21 at 12 47 47" src="https://user-images.githubusercontent.com/1944007/150522107-571d11e0-1eee-4eda-ab5c-8cb0d2e9da86.png">

Thanks for your input

[2022-01-21 12:09] JoshuaCrewe commented on #21
I reckon so! The URL was the only thing from baikal that I used in that pop up. This looks good!

[2022-01-21 12:39] #47 closed

[2022-01-21 12:44] tchapi commented on #21
Perfect, I've released https://github.com/tchapi/davis/releases/tag/v1.9.1

[2022-01-21 16:20] JoshuaCrewe commented on #21
Kudos on your fast moving schedule. I now need to actually think about managing updates going forwards :) Looking forward to seeing this change appear on my system though.

[2022-01-24 11:01] JoshuaCrewe commented on #21
Deployed the new update today and it works great. Nice addition, thank you for your work on this new feature :)

[2022-01-28 14:12] #45 closed

[2022-01-28 21:17] tiiiecherle opened #52 "macOS address book owner issue"
Hey,

I don't know if this is a davis or a macOS issue.

In macOS it is possible to select a user in the Contacts.app and tell macOS that this contact is me. After that macOS uses the picture of this contact and sets it as login picture for my user and sets it everywhere the user picture is used.

In our current davis setup there is only one davis user that has an address book and on every mac thi

[2022-01-31 08:51] tchapi commented on #52
Hi @tiiiecherle

CardDAV does not allow sharing for now, at least not through `sabre/dav` that Davis uses, so you cannot share an address book.

There is a concept of "global directory" but I have not worked on it since it's macOS-specific and complicated to implement (see https://sabre.io/dav/carddav-directory/)

If you want to give it a try, I'll happily review a PR.
Best regards

[2022-01-31 17:42] holow29 commented on #52
I'm not sure that the "global directory" concept is the correct way of doing this. I will leave this here as a resource for anyone who wants to investigate further: https://github.com/sabre-io/dav/issues/1014 (OwnCloud implemented sharing based on sabre/dav themselves at one point it seems. NextCloud might have as well.)
Also some info here: https://github.com/sabre-io/Baikal/issues/120

[2022-02-01 08:47] tiiiecherle commented on #52
Thanks for the information. It would be really nice to see this implemented in davis.

I am sorry I do not have the knowledge and programming skills to help with that. But I can help testing on macOS once there is an implementation.

Thanks a lot.

[2022-02-20 18:46] IronTooch opened #55 "Feature Request: LDAP Integration"
Seems like a pretty normal use case, to extend the authentication schema to support LDAP.

I know I can submit a pull req, but if an actual PHP developer where more comfortable integrating this feature, it would likely be better / faster than me trying to figure out how to do it.

[2022-02-21 08:39] tchapi commented on #55
Hi @IronTooch
This should rather be done at the sabre/dav level.
An attempt was made some time ago, but I don't think anybody tried to finish this work: https://github.com/sabre-io/dav/issues/838

[2022-02-21 08:41] tchapi commented on #55
See also https://github.com/sabre-io/Baikal/issues/321 on Baikal (which is also using sabre/dav)

[2022-02-21 18:09] IronTooch commented on #55
Oh, for sure, integrating at the Sabre level is certainly better. But since they don't seem inclined to integrate it, it might be able to be scaffolded at this layer instead with an integration that makes regular users from an LDAP source. That being said, if you want to close this for the same reason the Baikal team closed theirs, I understand.

[2022-02-22 08:52] tchapi commented on #55
I'm fine with leaving it open if someone feels like trying — I'll gladly review a PR.

Unfortunately I myself have little time and no interest in LDAP as I don't use it on a day-to-day basis.

[2022-02-22 10:18] reven opened #56 "Feature request: User auto-generation after successful IMAP login"
Would it be possible to hook auto-generation of the user in the db, as well as default calendar and address book after a successful IMAP auth if the user is not defined?

[2022-02-24 10:14] tchapi commented on #56
Hi @reven

It should be possible I think, behind a feature flag. Do you want to give it a try ?

[2022-02-24 10:33] reven commented on #56
I'd love to give it a go, but I have zero experience with Symfony. I'll look over and try, but if anyone else wants to hop on it, I'd be grateful.

I found something that could serve as a starting point: https://github.com/Excision-Mail/ansible-baikal/blob/main/files/baikal-0.9.1-ldap-auth-and-smtp.patch

[2022-02-24 10:40] reven commented on #55
Oh, just realized this may be helpful here too:
https://github.com/Excision-Mail/ansible-baikal/blob/main/files/baikal-0.9.1-ldap-auth-and-smtp.patch

[2022-02-24 10:56] reven opened #57 "Production environment hardening: underlying Sabre/DAV accessible through HTTP."
This might be an error on my part because of permissions or setup: while testing login through IMAP, I accessed http://www.example.com/dav/ with my browser and got a login prompt. I provided a user (non admin) credentials and after success (yay!) I was redirected to the underlying Sabre/DAV framework. I can fully navigate all the nodes and structures.

Is this intentional? Is this a misconfigurati

[2022-02-24 16:19] tchapi commented on #57
What you're browsing here are the collections of the user in question, so it seems normal. You can navigate all the nodes of your user: calendars, addressbooks and whatnot, but only for your user (or the delegations that your user have)

Have I understood correctly ?

[2022-02-24 16:24] tchapi commented on #56
This patch is interesting, it seems quite straightforward to "port" to Davis. Give it a try and let me know, I should be able to help (not before mid-March though).

[2022-02-25 02:25] reven commented on #57
Oh, ok. I thought I had broke something. It just seemed strange to be able to access the underlying library like that.

Btw @tchapi, thanks for all the work you're putting into this. This is great.

[2022-02-25 02:25] #57 closed

[2022-03-01 06:38] marc2016 opened #59 "Can not sync events with invitations"
Hey,

after my update to version 1.9.1 I can not sync events with invitations. On MacOS I get the error 500: for CalDAVWriteEntityQueueableOperation. I can not found any log messages for this error. Where can I find additional information?

Thanks in advance :-)

[2022-03-02 09:19] marc2016 commented on #59
I found a 401 error in the access log, because the system could not send emails. I changed the MAILS_DSN environment variable of the docker container to MAILER_DSN=smtp://${MAIL_USERNAME}:${MAIL_PASSWORD}@${MAIL_HOST}:${MAIL_PORT}.
With this setting events with mail addresses working.
I wil create a pull request for the docker compose file.

[2022-03-06 10:02] swoop124 opened #60 "after install Docker new Users cannot login"
Hello,

i just installed Davis with Docker-Compose as described. it worked fine, only Web-Dav is disabled.
But after i created several Users, no user but Admin can login.
I get this message: Username could not be found.
But i checked in the Database: Davis in Table users is an entry for each User i created, with a hashed password, i guess.

Did i do something wrong?

regards

[2022-03-07 08:34] tchapi commented on #60
Hi @swoop124
Do you try to login to the administration interface ? Only the admin can do that. The user you create are DAV users, they don't have access to the administration interface.

[2022-03-07 08:40] tchapi commented on #59
Hi
As far as I can tell, the Docker compose file is correct, no ?

[2022-03-08 08:00] swoop124 commented on #60
hello,

thanks for the reply.
yes, i thought, that davis has a frontend, but it is a Server-app.
So i have to search for another tool, but i will try it for another project.

regards

[2022-03-09 08:57] #60 closed

[2022-03-09 15:46] tchapi commented on #56
I've had some time to try something in https://github.com/tchapi/davis/commit/d8d01fc30efd43766abd6dc0962a1f668de5db06. As I have no readily available IMAP server, could you test the tip of the master branch and tell me if this works for you ?

You have to enable the feature via the `IMAP_AUTH_USER_AUTOCREATE` flag beforehand.

Thanks !

[2022-03-10 03:04] reven commented on #56
I gave it a try and unfortunately the changes break IMAP login, thus no autogeneration occurs. There is no error in the log either at the app level or server. Likewise there are no hits to imap-login on the IMAP server's logs. Going into dev and DEGUB mode, this is all I get when trying to login (with a user *already* created, that logged in ok before):

[code]

I don't know if this is helpful.

L

[2022-03-10 08:17] tchapi commented on #56
Ok, thanks for the feedback. Will try to see what is wrong

[2022-03-10 08:26] tchapi commented on #56
If you try to login by just pointing your browser at http://yourdavserver.com/dav, what happens ? You should receive a XML response stating the exact error. If you can send me that, that'll be helpful.

NB: I made a small adjustment on the tip of the branch so you might want to pull the latest `master` beforehand

[2022-03-10 08:52] reven commented on #56
Now I get a 500 error. Checking the logs shows:

[code]

[2022-03-10 09:16] tchapi commented on #56
Hmm ok, that's a good error log. Thanks !

[2022-03-10 09:18] tchapi commented on #56
Ok, it seems that you still have an old cache on your machine. Try clearing the cache with `bin/console cache:clear --env=prod` for instance, or removing the var/cache folder altogether for instance

[2022-03-10 09:31] reven commented on #56
Ok, I think it works! I get access to Sabre and the user is clearly authenticated. Adding the calendar through a desktop app works fine; I can add/edit events, etc.

Awesome!!

[2022-03-10 09:49] tchapi commented on #56
Great ! I'll test a bit more and tag a new release when I'm confident it's ok
Thanks

[2022-03-10 09:49] #56 closed

[2022-03-10 13:39] tchapi commented on #55
Hi @IronTooch
I could give it a go, since the patch provided by @reven is quite close to what an actual implementation might look like and I have some free time to work on Davis.

Would you be able to test it with a real LDAP server (I don't have any at hand) if I create a branch for that ?

[2022-03-10 17:08] IronTooch commented on #55
Sure can!

[2022-03-10 18:26] tchapi commented on #55
Great, will keep you updated really soon !

[2022-03-10 19:33] tchapi commented on #55
See https://github.com/tchapi/davis/pull/61 — if you can test it and tell me if everything is nominal, that would be awesome @IronTooch !

[2022-03-10 21:57] IronTooch commented on #55
Okay, so does not work at the moment, but I'm kind of at a loss on how to troubleshoot. @tchapi , can you tell me where the relevant logs would be?

I can say the most likely reason why is because the given variables don't seem to have any way of setting the Bind user for LDAP, so there's no way to authenticate to search / enumerate the directory. I tried digging into the pull req, but I couldn't

[2022-03-10 21:59] IronTooch commented on #55
Also relevant Screenshot from Admin Interface
![image](https://user-images.githubusercontent.com/27360514/157761776-83dff858-5f56-4841-acf6-3348abc9872f.png)

[2022-03-11 08:09] tchapi commented on #55
Hi @IronTooch

Thanks for your test. I think you are trying to connect to the admin interface with your LDAP user, which is not possible (There is only one "admin dashboard" user, it's `admin` by default and it's configured in the env vars.

What you want to try is to connect to http://yourserver.org/dav with your credentials and see how it works. If it's successful, you will be able to browse you

[2022-03-11 08:14] IronTooch commented on #55
Ah, I see! Okay, so still no luck, but different error:

[code]

[2022-03-11 08:46] tchapi commented on #55
Ok, this error seems to indicate that your PHP version was not compiled with LDAP. So you need to either reinstall it correctly, or add the module. I cannot really help you here since it really depends on your platform ... but you should be able to find a tutorial for that. Ex. if you're on Debian: `apt-get install php-ldap`

[2022-03-11 23:53] IronTooch commented on #55
Okay, so now I'm getting the HTTP login screen, but the authentication is not operational:
![image](https://user-images.githubusercontent.com/27360514/157992051-8ac05d64-48b2-41b5-ae4c-9da38b8b00c7.png)

I.e., when I type a user I know to be correct, it just re-presents me the login screen repeatedly, as opposed to allowing the user through.

Nothing of note in the following log locations:
`/var/l

[2022-03-13 13:28] tchapi commented on #55
Ok thanks. Several thoughts:
  - you may find more logs in `var/log/*` in the Symfony installation, maybe something worth it in there
  - any log on the LDAP side, by any chance (like "password is not good" or "user does not exist" for instance) ?
  - have you tried with a `user@domain.com` type of login instead of just `user` ?

[2022-03-13 14:29] tchapi commented on #55
Re: I tried to run a standard openldap container locally (with https://hub.docker.com/r/bitnami/openldap/) with the default configuration, and I can login with `admin` /  `adminpassword`.

The configuration I used on Davis is:

[code]

It's the first time I work with LDAP so I don't really know if it's good but apart from a problem with `ldap_read()` (_stating that it cannot find such object, whic

[2022-03-13 23:41] IronTooch commented on #55
Okay, a working pattern definitely helped. I didn't include the port on the LDAP connection (assumed it would default to 389), and my DN pattern was off. I'm now able to log in, though some things render oddly at the moment (see screenshot).
![image](https://user-images.githubusercontent.com/27360514/158083961-ab93f5d7-4bac-4924-82b3-74f14b858ffb.png)

This was my (working) config:
[code]

That be

[2022-03-14 07:57] tchapi commented on #55
Great ! This is fantastic.

On the screenshot, the only thing I see that is not rendered correctly is the Symfony debug bar at the bottom of the page — which is normal (the page is rendered via a subtly different way than normal pages) and not really a concern (it's only displayed when the app is in _dev_ mode): this will not happen in production mode.

[2022-03-14 16:49] #55 closed

[2022-03-14 20:50] marc2016 commented on #59
Hi,

sorry I missed that fix in the last pull request. I have created a new one: https://github.com/tchapi/davis/pull/62
Thank you :-)

[2022-03-15 08:29] #59 closed

[2022-04-03 09:00] lucas-stauder opened #63 "deprecation warning on homepage"
Hi,

I am getting the following deprecation warnings currently:

[2022-04-17 16:19] ikajdan opened #64 "An easier way to use different database driver in Docker."
First of all, thanks for this amazing app!

I have a question, if it would be possible to make it easier to select a different database driver in dockerized Davis? Current image includes only the pdo_mysql package. Furthermore, the driver is hard-coded in [doctrine.yaml](https://github.com/tchapi/davis/blob/db874afd3bb2b7b5050996c681f1e59d9683bd2c/config/packages/doctrine.yaml#L6).

While the firs

[2022-04-19 11:18] tchapi commented on #64
Thanks @verahawk for this issue
I could easily add other drivers in the Dockerfile, that's easy.

As for Symfony, I can have a look. I think it can be a bit more difficult than just changing the driver in the Doctrine configuration..

As for Alpine, happy to view your Dockerfile so I can work from there.

TBH, I don't have much time to dig too deep though, so this may take a bit of time

[2022-04-22 17:33] tromlet commented on #55
So, would the end goal of all of this be to ultimately get "LDAP" as an option for the drop-down in the "WebDAV Authentication Type" drop-down menu under "System Settings"?

[2022-04-23 12:50] tchapi commented on #55
Hmmm ... what dropdown are you talking about ? 🤔

[2022-04-27 12:30] skug67 opened #65 "No sign of invitations being sent"
I'm running davis directly via Apache2 (no docker) and I can get events to sync w/no problem.  However, even though I have configured the environment with both MAILER_DSN (using postfix on the same machine -- having tried both localhost and a FQDN for the smtp URL) and INVITE_FROM_ADDRESS, I see no signs in either [path-to-davis]/var/log/dev.log or in my system mail logs that there is any attempt

[2022-04-27 13:26] tchapi commented on #65
Hi,
Can you share your configuration regarding the mail setup (without personal info or credentials of course) ?

[2022-04-27 14:02] skug67 commented on #65
I've tried (at least) the following variations:

MAILER_DSN=smtp://[FQDN]:465?encryption=ssl&auth_mode=login&username=[USERNAME]&password=[PASSWORD]

and

MAILER_DSN=smtp://[FQDN]:587?encryption=tls&auth_mode=login&username=[USERNAME]&password=[PASSWORD]

MAILER_DSN=smtp://localhost

there may have been other variations that I didn't save for posterity

[2022-04-27 14:43] skug67 commented on #65
Tried that formulation as well.  No joy.  Still complete silence in the postfix logs, and nothing including "smtp" or "SMTP" or my FQDN in dev.log either

[2022-04-27 20:41] skug67 commented on #65
OK, looks like the problem was client side.  I was testing with DAVx5 on Android, but was giving the account a name other than my email because I didn't want to conflict with the existing caldav account I was using (baikal -- with the intent to migrate to davis).  When I renamed the account to use the email address everything started to work fine.

Thanks to all for quick responses/suggestions.

[2022-04-27 20:41] #65 closed

[2022-04-27 20:47] tchapi commented on #65
Glad you made it work ! 🎉

[2022-05-11 22:40] michaelkrebs94 opened #66 "How to get detailled logs?"
I am currently setting up Davis inside docker-compose and struggling to get the IMAP Auth working.

Unfortunately there seems to be no logging available which could be of any help for "Username could not be found."
I would expect to see some more details in the logs, e.g. if the IMAP server connection could be established, what the response of it was etc.

The only logging in docker-compose is thi

[2022-05-12 09:27] tchapi commented on #66
Hi
You can get logs directly in the container, but I think you're trying to log in the backend with a normal user, right ? Like in https://github.com/tchapi/davis/issues/60 ?

[2022-05-13 08:05] michaelkrebs94 commented on #66
Thanks, I think that answers my question 😊

[2022-05-13 08:05] #66 closed

[2022-05-17 18:54] poVoq opened #67 "Http basic auth support?"
A lot of self-hosted webservices support so called http basic auth, that simply returns a 200 code if the username and password are correct.

Would be nice if this could be added as another auth option to Davis.

Specifically I would like to auth against this:
https://modules.prosody.im/mod_http_auth_check.html

But I believe many other web-apps would be compatible.

Thanks!

[2022-05-17 19:54] tchapi commented on #67
See https://github.com/tchapi/davis#configuration for all the authentication configuration (including Basic Auth)

[2022-05-17 19:54] #67 closed

[2022-05-17 20:01] poVoq commented on #67
? This does not explain at all how to authenticated against an external website using the http basic auth standard?

[2022-05-17 20:09] tchapi commented on #67
Hmm, this is not supported. Only IMAP and LDAP have been created so far. If you want to create a PR for it, I'll gladly review it (see https://github.com/tchapi/davis/commit/02888d1150e6bdd6ff2d7fb3c09ff911da47fd6f for example as a starting point)

[2022-06-07 23:44] mxroute opened #68 "NOTICE: PHP message: Can't open mailbox null: no such mailbox"
I'm trying to use IMAP authentication but I keep getting:

NOTICE: PHP message: Can't open mailbox null: no such mailbox
172.18.0.4 - me@jarland.me 07/Jun/2022:23:38:36 +0000 "GET /index.php" 401

I'm using docker-compose to spin it up, and for testing these variables:

AUTH_REALM=SabreDAV
AUTH_METHOD=IMAP
IMAP_AUTH_URL="{blizzard.mxrouting.net:993/imap/ssl/novalidate-cert}"
IMAP_AUTH_USER_AUTOCRE

[2022-06-08 07:51] tchapi commented on #68
Hi @mxroute

This is weird as your IMAP url _seems_ correct.

2 points I see on top of my head:
- **the IMAP Auth url env var is not set in your container**
	How do you pass that variable (show me your compose file maybe) ? Can you make sure that `printenv` shows it ?
- **the IMAP auth url is malformed**
	Can you try to connect to this specific url with a simple PHP `imap_open` and see what it yie

[2022-07-20 18:23] T3rm1 opened #70 "Installation on shared hosting often not possible"
The structure of the project creates problems on some shared hoster platforms. Let me give an example:

So for shared hosting the document root could be `/var/www/vhosts/hostingXXXXX.netcup.net/cal.domain.com/davis/public`. The repository is in the folder `davis` and only the `public` folder is exposed.
The hoster sets the `open_basedir` setting to the same path. This is not changeable. This resul

[2022-07-21 07:10] tchapi commented on #70
Hi @T3rm1

It's not really Davis per se, but Symfony. Deploying a somewhat complex application with dependencies, rw rights, etc, on a shared hosting is always a pain.

I found [this article](https://medium.com/@runawaycoin/deploying-symfony-4-application-to-shared-hosting-with-just-ftp-access-e65d2c5e0e3d) that may help maybe ?

[2022-07-21 19:06] T3rm1 commented on #70
Thanks for the link.
I just received a response from the hoster and they offered to set the open_basedir path to the webhosting root instead of document root. With that change it works.

[2022-07-21 19:06] #70 closed

[2022-07-25 15:48] ghtm2 opened #71 "Error in prod.log after upgrading from version 1.8"
Hi,

I've been running version 1.8.0 since release up until now, after upgrading to version 2.0.2 I get the following error in the prod.log:
[code]

I haven't touched the nginx (1.20), php (8.0.13) or Thunderbird (102.0.3) configs, everything is the exact same.
I've gone back to version 1.8 for now and no such error is produced.

Any idea what/where the problem may be?

Thanks.

[2022-07-25 16:01] tchapi commented on #71
Hello !

The error seems to be client-side (401): `app.ERROR: [401]: Sabre\DAV\Exception\NotAuthenticated - No 'Authorization: Basic' header found.`

What authentication mechanism are you using ? Digest was removed in 1.8.0 so this shouldn't be a problem but still ..

[2022-07-25 19:45] ghtm2 commented on #71
I'm using the default `AUTH_METHOD=Basic`

While that is what the message seems to suggest, why would the new davis version complain about it when 1.8 doesn't?
I can't seem to find any commits in neither davis nor sabre/dav that modify Basic Auth in a major way.

The only thing that I found, which may be related, was [this sabre/dav issue](https://github.com/sabre-io/dav/issues/1196) from 2019.

[2022-07-30 12:48] CKranebitter opened #72 "Docker-Compose installation gives Doctrine-Exception"
Thanks for the great app.

I installed via docker-compose and the edge-image from the registry. Now the symfony-prod-log says my db-driver is not correct. Have a made a configuration-error?

Thanks for the help.

`[2022-07-30T14:43:44.162669+02:00] request.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Exception: "The given 'driver' mysql is unknown, Doctrine currently supports only the following

[2022-07-30 14:29] CKranebitter commented on #72
Found the solution.
Im using docker swarm. Hence my db-container is referenced by davis_db. Changed this in the doctrine-yaml-file and compiled the image myself. Now its working.

[2022-07-30 14:29] #72 closed

[2022-08-01 07:05] tchapi commented on #71
There are none, this feature wasn't touched... I can't reproduce your error at the moment. Apart from the log, is it working properly ?

[2022-08-01 15:56] ghtm2 commented on #71
Apart from flooding the log with those 6 lines on every authentication request it does appear to work.

I've since upgraded to 1.10.2 which doesn't exhibit this behavior.
Maybe it's due to [this commit](https://github.com/tchapi/davis/commit/b9d2b95f6e813bcb8fe39d76dcf46372be31cb12)?

[2022-08-02 14:29] tchapi commented on #71
It may but it _shouldn't_ since this commit is specifically to extract logs from environments where we can't introspect them (Docker, etc).

I'll dig deeper later if I find the time

[2022-08-18 09:39] JoshuaCrewe opened #73 "Cannot edit event information after creating"
I am testing on Apple Calendar and I am not sure what is the normal behaviour of calendar events is (for sure) but I believe you can edit the details after creating an event

Steps to reproduce
- Add calendar to Apple Calendars as a caldav account
- Create a new event and add an invitee
- Send the invite
- Cannot now change the title or the time/date/invites

If I create an event on an apple calen

[2022-08-21 19:24] tchapi commented on #73
Thanks @JoshuaCrewe for the report. I will only have time to look into this at the beginning of September though, but I don't have this behavior on my side

[2022-08-22 06:22] JoshuaCrewe commented on #73
@tchapi knowing that you do not have this behaviour on your end is a great help and should narrow down where I need to look. Thanks for the info.

[2022-09-10 12:57] tchapi commented on #73
I've retested on the latest release, and I can change the details after having sent an invite, without problems.

I'm using the standard Calendar App on macOS Monterey. Do you still have the issue? Do you have any log, either in the calendar app, or in Davis ?

[2022-09-11 10:50] tchapi commented on #73
Closing now as I think it's not a bug in Davis but feel free to repoen if you have more info / logs / pointers

BR

[2022-09-11 10:50] #73 closed

[2022-09-12 07:43] JoshuaCrewe commented on #73
Thanks for taking the time to test yourself. Knowing that this is an isolated issue will be helpful. I am due to investigate this setup as well as another similar setup today so I will see if there are any error logs I can make sense of.

[2022-10-23 15:08] poVoq opened #75 "Disk quota for WebDAV?"
Is it possible to limit the storage use per user on WebDAV to something like 1GB?

That would make it easier to manage the storage space use when multiple users are using Davis.

Thanks!

[2022-10-23 15:42] poVoq opened #76 "Mention in readme that Postgres and SQLite are also possible to use?"
The .env file specifies the possibility that Postgres and SQLite could be used instead of MySQL. However, the readme says that only MySQL can be used. Is the readme outdated or is there some problem with using Postgres instead?

[2022-10-24 07:30] tchapi commented on #75
Hi @poVoq

Good question. This looks like it would be possible reading [this](https://sabre.io/dav/per-user-directories/) to have a directory per user, and then enforcing limits per directory in the filesystem, but it's a bit complicated.

[2022-10-24 08:08] #76 closed

[2022-11-04 19:38] King3R commented on #64
Hey @verahawk,
is it possible that you share the image as long as tchapi has little time at the moment? That would be very nice.

[2022-11-05 18:51] tchapi commented on #64
I can have a look at the Dockerfile and try to use alpine as a base but @verahawk has not provided it yet, I'd prefer not starting from scratch :)

[2022-11-05 19:01] verahawk commented on #64
Oh, I completely forgot about this issue. Though, I still have project files. I will create a repo soon and post it here.

[2022-11-05 22:06] tchapi commented on #64
You can just dump the Dockerfile in this issue, it's fine for me, no need to create a PR

[2022-11-05 22:37] verahawk commented on #64
It is more than one file, therefore I have created a repository: [https://github.com/verahawk/davis-docker](https://github.com/verahawk/davis-docker)

To build it, run: `docker build -t davis --build-arg='VERSION=2.0.2' .`

You can find an example compose file in the example directory. Don't forget to run `docker exec -it davis ash -c "APP_ENV=prod bin/console doctrine:schema:create --no-interacti

[2022-11-05 22:45] verahawk commented on #64
If you have any questions, feel free to ask. Although, it's been a while, so I might not remember why I have done things in particular way ;)

[2022-11-05 22:51] tchapi commented on #64
Ok thanks a lot! I will have a look and try to see what I can extract 👍🏼

[2022-11-06 19:49] tchapi commented on #64
I have started a first branch to use Alpine Linux instead of the regular distro, here: https://github.com/tchapi/davis/pull/77
I have already included the PostgreSQL PDO module in the image. I need to do some more testing, but the size gain is nice.

A second PR will look into how to make this work on the Symfony side. It might not come before two or three weeks as I'll be off.

Happy to have your

[2022-11-06 21:52] tchapi commented on #64
FYI after investigating a bit, PostgreSQL is not _trivial_: the `VARBINARY` format is not treated the same way by PDO/Doctrine on MySQL and Postgres, and leads to problems (_because sabre/dav does not really support PostgreSQL_), so I will probably need to:
- alter some column definitions
- make a new major version (because kind of BC)
- add support for changing the driver

So a bit of work 😅

[2022-11-06 22:03] verahawk commented on #64
Shame it is not so simple. Having an easy way to switch between mysql and sqlite will be good starting point anyway. Thanks for your work :-)

[2022-11-07 15:45] King3R commented on #64
Thanks also from my side.

Would it make sense to implement nginx as part of the change to Alpine? This way you would have an all-in-one solution in only one container, if you use SQLite. Or are there any opposing opinions on this?

[2022-11-07 16:16] verahawk commented on #64
That's how it is done in the image, I have provided. I agree it would be nice to at least have two versions — one fpm and the other self-contained.

[2022-11-07 16:30] tchapi commented on #64
I understand the need but it [defeats the purpose of Docker](https://docs.docker.com/config/containers/multi-service_container/#:~:text=It's%20ok%20to%20have%20multiple,defined%20networks%20and%20shared%20volumes.) in my opinion, because you'll end up with two processes in a single container, which is not ideal (_and not the way Docker is supposed to work_). You then have to add another supervisor

[2022-11-08 15:49] sirrkitt commented on #64
If it helps or makes anyone happy, I can see if I can get it to play nicely with nginx unit. It’s kinda finicky with PHP applications though, because there’s a ton of weirdness.

 I’m currently running Davis in a Podman container with H2O and php-cgi which also accomplishes running with a single executable.

[2022-11-15 22:48] tchapi commented on #64
I have merged and pre-released [v3.0.0](https://github.com/tchapi/davis/releases/tag/v3.0.0) that fixes the database columns. If you don't use MySQL, I suggest to be very cautious since you will probably need to manually cast some column into `VARCHAR` (they were `VARBINARY` before)

I have tried to explain in length the upgrade process for the MySQL driver. I will let this sit for a while, and th

[2022-11-15 22:51] tchapi commented on #64
➡️ Work continues in https://github.com/tchapi/davis/pull/79

[2022-11-26 21:51] tchapi commented on #64
#79 has now been merged. I have released v3.1.0 (v3.0.0 has been yanked) with a new `DATABASE_DRIVER` env var (supporting MySQL and PostgreSQL for now)

LMK what you think. The release notes contain a lot of information (same as yanked version) since the schema has been partially migrated, and there is no straightforward path if you were using PostgreSQL before.

I'll try to test SQLite later, but

[2022-11-26 21:51] #64 closed